<div>
<div class="card-details" *ngIf="currentStep === 'Start' ;then canceled">
  <div class="card-details-header">
    <div class="card-details-header-time">{{ date | formatdate }}</div>
    <img
      src="../../assets/icons/close.png"
      width="20px"
      height="20px"
      alt="close"
    />
  </div>
  <div class="card-details-main">
<img src="../../assets/images/avatar.png" width="64px" height="64px" alt="Jerome Bell" />
<h1 class="card-details-main-title">Jerome Bell</h1>
<img src="../../assets/icons/@whitefish664.png"/>
  </div>
<ns-button [value]="btnVal"></ns-button>
</div>
<ng-template #canceled>
  <div class="card-details-canceled">
    <img src="../../assets/images/avatar.png" width="48px" height="48px" alt="Jerome Bell" />
    <h1 class="card-details-main-title">Jerome Bell</h1>
    <h2 class="card-details-main-subtitle">Creator</h2>
  </div>
</ng-template>
{{currentStep}}

</div>